<div class="row">
    <h2>Your input is unacceptable</h2>
    <p>For security reasons we block potentially malicious input. Press the button below to go back and try again.</p>
    <a class="button" href="javascript:history.go(-1);">Back</a>
</div>